 .jumbotron {
     background-color: #F5F768;
     color: black;
     margin-top: 10px;
 }
 footer{
     padding: 10px 10px 0px 10px;
     background-color: #F5F768;
     margin-bottom: 0px;
     margin-top: 10px;
 }
 
.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}

.btn-server{
    width: 100%;
    border-radius: 0px;
}

.footer-adress-icon{
    padding-right: 10px;
}

.icon-plus-reservar{
    padding-left: 30px;
}